<c-row class="mb-4">
  <c-col>
    <h3 style="margin: 0">Users</h3>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="mb-0">Users List</h5>
      </c-card-header>

      <c-card-body>
        <table cTable [hover]="true" [responsive]="true" [striped]="true">
          <thead>
            <tr>
              <th class="bg-body-tertiary">#</th>
              <th class="bg-body-tertiary">Subscriber</th>
              <th class="bg-body-tertiary">Balance</th>
              <th class="bg-body-tertiary">State</th>
              <th class="bg-body-tertiary"></th>
            </tr>
          </thead>
          <tbody>
            @if (isLoading) { @for (placeholder of [0, 1, 2, 3, 4]; track
            placeholder) {
            <tr>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
            </tr>
            } } @else if (!isLoading && subscribers.length === 0 ) {
            <tr style="margin-top: 10rem; margin-bottom: 10rem">
              <td
                style="padding-top: 10rem; padding-bottom: 10rem"
                colspan="4"
                class="text-center"
              >
                No subscribers available
              </td>
            </tr>
            } @else { @for (subscriber of subscribers; track
            subscriber.subscriber; let index = $index) {
            <tr
              [routerLink]="['/users', subscriber.subscriberId]"
              style="cursor: pointer"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ subscriber.subscriber.name }}</td>
              <td>{{ subscriber.balance | number : "1.0" }}</td>
              <td>{{ subscriber.stateName }}</td>
              <td class="text-end px-2">
                <svg cIcon name="cilChevronRight"></svg>
              </td>
            </tr>
            } }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
