<c-container>
  <!-- Breadcrumb -->
  <c-row>
    <c-col md="8">
      <c-breadcrumb>
        <c-breadcrumb-item
          routerLink="/transactions/list"
          style="cursor: pointer"
          color="primary"
        >
          Transactions
        </c-breadcrumb-item>
        <c-breadcrumb-item active> Transaction Details </c-breadcrumb-item>
      </c-breadcrumb>
    </c-col>
  </c-row>

  <c-card class="mb-4">
    <c-card-header class="fw-bold">Transfer Details</c-card-header>
    <c-card-body>
      <c-row class="gy-3 mb-4">
        <c-col xs="12">
          <c-card
            style="cursor: pointer"
            [routerLink]="[
              '/users',
              contractAddress === transaction?.from
                ? transaction?.toId
                : transaction?.fromId
            ]"
          >
            <c-card-header> Address </c-card-header>
            <c-card-body>
              <code class="text-break text-primary text-center d-block">
                @if (isTransactionLoading) {
                <span cPlaceholderAnimation="glow"
                  ><span
                    cPlaceholder
                    style="border-radius: 1rem"
                    class="w-75"
                  ></span
                ></span>
                } @else {
                {{
                  contractAddress === transaction?.from
                    ? transaction?.to
                    : transaction?.from
                }}
                }
              </code>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
      <c-row class="gy-3">
        <!-- Transfer Info -->
        <c-col xs="12" md="6">
          <c-card class="h-100">
            <c-card-header class="fw-semibold">Transfer Info</c-card-header>
            <ul cListGroup flush>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Type: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.action }}
                  }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Time: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{ (transaction?.time ?? 0) * 1000 | date : "short" }}
                  }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Tokens: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-25"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.tokens }}
                  }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Price: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{
                    transaction?.price
                      | currency
                      : transaction?.asset?.markets?.[0]?.currencyCode
                        : transaction?.asset?.markets?.[0]?.currencyCode + " "
                        : "1.2-5"
                  }}
                  }
                </span>
              </li>
            </ul>
          </c-card>
        </c-col>

        <!-- Asset Details -->
        <c-col xs="12" md="6">
          <c-card class="h-100">
            <c-card-header class="fw-semibold">Asset Details</c-card-header>
            <ul cListGroup flush>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Asset ID: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-75"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.assetId }}
                  }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Name: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.asset?.name }}
                  }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Symbol: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-25"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.asset?.symbol }}
                  }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Type: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.asset?.assetTypeName }}
                  }
                </span>
              </li>
            </ul>
          </c-card>
        </c-col>
      </c-row>

      <c-row class="gy-3 mt-3">
        <!-- Market Details -->
        <c-col xs="12" md="6">
          <c-card class="h-100">
            <c-card-header class="fw-semibold">Market Details</c-card-header>
            <ul cListGroup flush>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Market: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.payment?.marketNameFull }} ({{
                    transaction?.payment?.marketNameShort
                  }}) }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Currency: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.payment?.currencyName }}
                  ({{ transaction?.payment?.currencyCode }}) }
                </span>
              </li>
            </ul>
          </c-card>
        </c-col>

        <!-- Payment Details -->
        <c-col xs="12" md="6">
          <c-card class="h-100">
            <c-card-header class="fw-semibold">Payment Details</c-card-header>
            <ul cListGroup flush>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Payment ID: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{ transaction?.payment?.transferId }}
                  }
                </span>
              </li>
              <li
                class="d-flex align-items-center justify-content-between"
                cListGroupItem
              >
                <strong>Credit: </strong>
                <span>
                  @if (isTransactionLoading) {
                  <span cPlaceholderAnimation="glow"
                    ><span
                      cPlaceholder
                      style="border-radius: 1rem"
                      class="w-50"
                    ></span
                  ></span>
                  } @else {
                  {{
                    (transaction?.tokens ?? 0) * (transaction?.price ?? 0)
                      | currency
                      : transaction?.asset?.markets?.[0]?.currencyCode
                        : transaction?.asset?.markets?.[0]?.currencyCode + " "
                        : "1.2-5"
                  }}
                  }
                </span>
              </li>
            </ul>
          </c-card>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>
