<c-modal
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  alignment="center"
>
  <c-modal-header>
    <h5 cModalTitle>Add Price</h5>
    <button (click)="onReset()" cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
    <c-card class="mb-3">
      <c-card-header class="fw-bold">Asset Details</c-card-header>
      <c-card-body>
        <p class="m-0"><strong>Asset ID:</strong> {{ assetId }}</p>
      </c-card-body>
    </c-card>
    <form
      id="price-add-form"
      [formGroup]="priceAddForm"
      (ngSubmit)="onSubmit()"
      (reset)="onReset()"
    >
      <c-row>
        <c-col md="12">
          <div class="mb-3">
            <app-async-select
              [key]="marketKey"
              [control]="priceAddForm.controls['marketId']"
              controlName="marketId"
              label="Market ID"
              placeholder="Choose market"
              defaultValue="818"
            />
          </div>
        </c-col>
      </c-row>

      <c-row>
        <c-col xs="12" md="6">
          <div class="mb-3">
            <label class="form-label" cLabel>Bid Price</label>
            <input
              type="number"
              class="form-control"
              formControlName="bid"
              cFormControl
              placeholder="Enter Bid Price"
              [class]="{
                'is-invalid':
                  priceAddForm.controls['bid'].invalid &&
                  priceAddForm.controls['bid'].touched
              }"
            />
            @if (priceAddForm.controls['bid'].invalid &&
            priceAddForm.controls['bid'].touched) {
            <div class="text-danger">Bid price is required</div>
            }
          </div>
        </c-col>

        <c-col xs="12" md="6">
          <div class="mb-3">
            <label class="form-label" cLabel>Ask Price</label>
            <input
              type="number"
              class="form-control"
              formControlName="ask"
              cFormControl
              placeholder="Enter Ask Price"
              [class]="{
                'is-invalid':
                  priceAddForm.controls['ask'].invalid &&
                  priceAddForm.controls['ask'].touched
              }"
            />
            @if (priceAddForm.controls['ask'].invalid &&
            priceAddForm.controls['ask'].touched) {
            <div class="text-danger">Ask price is required</div>
            }
          </div>
        </c-col>
      </c-row>
    </form>
  </c-modal-body>

  <c-modal-footer>
    <button
      cButton
      form="price-add-form"
      type="reset"
      color="secondary"
      [disabled]="submitting"
    >
      @if (submitting) {
      <c-spinner size="sm" />
      Loading... } @else { Discard Changes}
    </button>
    <button
      cButton
      form="price-add-form"
      type="submit"
      color="primary"
      [disabled]="submitting || priceAddForm.invalid"
    >
      @if (submitting) {
      <c-spinner size="sm" />
      Loading... } @else { Save Changes }
    </button>
  </c-modal-footer>
</c-modal>
