<form
  cForm
  [formGroup]="assetForm"
  autocomplete="off"
  class="mb-4"
  (ngSubmit)="onSubmit()"
>
  <c-card>
    <c-card-header>
      <strong>Create Asset</strong>
    </c-card-header>
    <c-card-body>
      <c-row class="row-cols-2">
        <!-- Name -->
        <c-col>
          <div class="mb-3">
            <label cLabel for="name">Name</label>
            <input
              cFormControl
              id="name"
              type="text"
              placeholder="Enter asset name"
              formControlName="name"
              [class.is-invalid]="
                assetForm.get('name')?.invalid && assetForm.get('name')?.touched
              "
            />
            @if (assetForm.get('name')?.invalid && (assetForm.get('name')?.dirty
            || assetForm.get('name')?.touched)) {
            <div class="text-danger small text-end">
              @if (assetForm.get('name')?.errors?.['required']) {
              <small>Name is required</small>
              }
            </div>
            }
          </div>
        </c-col>

        <!-- Symbol -->
        <c-col>
          <div class="mb-3">
            <label cLabel for="symbol">Symbol</label>
            <input
              cFormControl
              id="symbol"
              type="text"
              placeholder="Enter symbol"
              formControlName="symbol"
              [class.is-invalid]="
                assetForm.get('symbol')?.invalid &&
                assetForm.get('symbol')?.touched
              "
            />
            @if (assetForm.get('symbol')?.invalid &&
            (assetForm.get('symbol')?.dirty ||
            assetForm.get('symbol')?.touched)) {
            <div class="text-danger small text-end">
              @if (assetForm.get('symbol')?.errors?.['required']) {
              <small>Symbol is required</small>
              }
            </div>
            }
          </div>
        </c-col>

        <!-- Asset Type -->
        <c-col>
          <app-async-select
            [key]="assetTypeUrl"
            [control]="assetForm.controls['assetType']"
            controlName="assetType"
            label="Asset Type"
            placeholder="Choose asset type"
          />
        </c-col>

        <!-- Supply Type -->
        <c-col>
          <app-async-select
            [key]="supplyTypesUrl"
            [control]="assetForm.controls['supplyType']"
            controlName="supplyType"
            label="Supply Type"
            placeholder="Choose supply type"
          />
        </c-col>

        <!-- Supply -->
        @if ( assetForm.get('supplyType')?.value !== '2') {
        <c-col>
          <div class="mb-3">
            <label cLabel for="supply">Supply</label>
            <input
              cFormControl
              id="supply"
              type="number"
              placeholder="Enter supply"
              formControlName="supply"
              [class.is-invalid]="
                assetForm.get('supply')?.invalid &&
                assetForm.get('supply')?.touched
              "
            />
            @if (assetForm.get('supply')?.invalid &&
            (assetForm.get('supply')?.dirty ||
            assetForm.get('supply')?.touched)) {
            <div class="text-danger small text-end">
              @if (assetForm.get('supply')?.errors?.['required']) {
              <small>Supply is required</small>
              }
            </div>
            }
          </div>
        </c-col>
        }

        <!-- Pricing Model -->
        <c-col>
          <app-async-select
            [key]="pricingModelUrl"
            [control]="assetForm.controls['pricingModel']"
            controlName="pricingModel"
            label="Pricing Model"
            placeholder="Choose pricing model"
          />
        </c-col>

        <!-- Trading Model -->
        <c-col>
          <app-async-select
            [key]="tradingModelUrl"
            [control]="assetForm.controls['tradingModel']"
            controlName="tradingModel"
            label="Trading Model"
            placeholder="Choose trading model"
          />
        </c-col>

        <!-- Execution Model -->
        <c-col>
          <app-async-select
            [key]="executionModelUrl"
            [control]="assetForm.controls['executionModel']"
            controlName="executionModel"
            label="Execution Model"
            placeholder="Choose execution model"
          />
        </c-col>

        <!-- Market ID -->
        <c-col>
          <app-async-select
            [key]="marketUrl"
            [control]="assetForm.controls['marketId']"
            controlName="marketId"
            label="Market"
            placeholder="Choose market"
            defaultValue="818"
          />
        </c-col>

        <!-- Account Level -->
        <c-col>
          <app-async-select
            [key]="accountLevelUrl"
            [control]="assetForm.controls['level']"
            controlName="level"
            label="Account Level"
            placeholder="Choose level"
          />
        </c-col>
      </c-row>

      <!-- Extra -->
      <!-- <c-row>
        <c-col xs="12">
          <div class="mb-3">
            <label cLabel for="extra">Extra</label>
            <textarea
              cFormControl
              id="extra"
              formControlName="extra"
              placeholder="Enter extra info"
              rows="3"
            ></textarea>
          </div>
        </c-col>
      </c-row>
      -->

      @if (successMessage || errorMessage) {
      <c-alert [color]="successMessage ? 'success' : 'danger'">
        <div class="d-flex align-items-center gap-2">
          @if (successMessage) {
          <svg cIcon name="cilCheckCircle" size="sm"></svg>
          <span>{{ successMessage }}</span>
          } @else {
          <svg cIcon name="cilBellExclamation" size="sm"></svg>
          <span>{{ errorMessage }}</span>
          }
        </div>
      </c-alert>
      }

      <c-row class="align-items-center">
        <c-col>
          <!-- Exclusive -->
          <c-form-check sizing="lg" switch>
            <input
              cFormCheckInput
              type="checkbox"
              formControlName="exclusive"
            />
            <label cFormCheckLabel>Exclusive</label>
          </c-form-check>
        </c-col>

        <!-- Right-aligned submit button -->
        <c-col class="text-end">
          <button
            cButton
            color="primary"
            type="submit"
            [disabled]="submitting || assetForm.invalid"
          >
            @if (submitting) {
            <c-spinner size="sm" />
            Loading... } @else { Submit }
          </button>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</form>
