<c-container>
  <!-- Breadcrumb -->
  <c-row class="justify-content-center">
    <c-col md="8">
      <c-breadcrumb>
        <c-breadcrumb-item
          routerLink="/assets/list"
          style="cursor: pointer"
          color="primary"
        >
          Assets
        </c-breadcrumb-item>
        <c-breadcrumb-item active> Asset Details </c-breadcrumb-item>
      </c-breadcrumb>
    </c-col>
  </c-row>

  <!-- Asset Details -->
  <c-row class="justify-content-center">
    <c-col md="8">
      <c-card>
        <c-card-header
          class="d-flex justify-content-between align-items-center"
        >
          <strong> Asset Details</strong>
          <c-badge color="secondary">
            @if (isAssetLoading) {
            <span cPlaceholderAnimation="glow">
              <span
                cPlaceholder
                style="width: 5rem; border-radius: 1rem"
              ></span>
            </span>
            } @else { ID: {{ asset?.assetId }} }
          </c-badge>
        </c-card-header>
        <c-card-body>
          <c-row>
            <!-- Left Column -->
            <c-col md="6">
              <p>
                <strong>Name: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.name }} }
              </p>

              <p>
                <strong>Symbol: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.symbol }} }
              </p>

              <p>
                <strong>Asset Type: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.assetTypeName }} }
              </p>

              <p>
                <strong>Supply Type: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.supplyTypeName }} }
              </p>

              <p>
                <strong>Supply: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.supply | number : "1.0" }} }
              </p>
            </c-col>

            <!-- Right Column -->
            <c-col md="6">
              <p>
                <strong>Pricing Model: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.pricingModelName }} }
              </p>

              <p>
                <strong>Trading Model: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.tradingModelName }} }
              </p>

              <p>
                <strong>Execution Model: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.executionModelName }} }
              </p>

              <p>
                <strong>User Level: </strong> @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span>
                </span>
                } @else { {{ asset?.levelName }} }
              </p>

              <p>
                <strong>Asset lock state: </strong>
                @if (isAssetLoading) {
                <span cPlaceholderAnimation="glow">
                  <span
                    cPlaceholder
                    style="width: 5rem; border-radius: 1rem"
                  ></span> </span
                >} @else {
                {{ asset?.locked ? "Locked" : "Unlocked" }}
                <c-badge
                  [color]="asset?.locked ? 'danger' : 'success'"
                  size="sm"
                >
                  <svg
                    cIcon
                    [name]="asset?.locked ? 'cilX' : 'cilCheckAlt'"
                  ></svg>
                </c-badge>
                }
              </p>
            </c-col>
          </c-row>
          <c-row>
            <c-col>
              <p>
                <strong>Contract: </strong>
                <code class="text-success">
                  @if (isAssetLoading) {
                  <span cPlaceholderAnimation="glow">
                    <span
                      cPlaceholder
                      style="width: 20rem; border-radius: 1rem"
                    ></span>
                  </span>
                  } @else { {{ asset?.contract }} }
                </code>
              </p>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-row class="mt-4 justify-content-center">
    <c-col md="4">
      <c-card class="h-100">
        <c-card-header
          class="d-flex align-items-center justify-content-between"
        >
          <strong>Asset State</strong>
          <c-card-header-actions>
            <button
              cButton
              color="primary"
              size="sm"
              (click)="toggleAssetStateModal(asset?.stateId)"
            >
              Set State
            </button>
          </c-card-header-actions>
        </c-card-header>
        <c-card-body>
          <p>
            @if (isAssetLoading) {
            <span cPlaceholderAnimation="glow">
              <span
                cPlaceholder
                style="width: 5rem; border-radius: 1rem"
              ></span>
            </span>
            } @else { {{ asset?.stateName }} }
          </p>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col md="4">
      <c-card class="h-100">
        <c-card-header style="height: 3rem" class="d-flex align-items-center">
          <strong>Extra Info</strong>
        </c-card-header>

        <c-card-body>
          <p style="max-height: 3rem; overflow: auto; margin: 0">
            @if (isAssetLoading) {
            <span cPlaceholderAnimation="glow">
              <span
                cPlaceholder
                style="width: 20rem; border-radius: 1rem"
              ></span>
            </span>
            } @else { {{ asset?.extra || "N/A" }} }
          </p>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Prices table -->
  <c-row class="mt-4 justify-content-center">
    <c-col md="8">
      <c-card>
        <c-card-header>
          <strong>Prices</strong>
        </c-card-header>
        <c-card-body>
          <table cTable [hover]="true" [responsive]="true" [striped]="true">
            <thead>
              <tr>
                <th>Market</th>
                <th>Currency Code</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Last Update Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @if (isAssetLoading) { @for (placeholder of [0, 1, 2, 3, 4]; track
              placeholder) {
              <tr>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
              </tr>
              } } @else if (!isAssetLoading && (!asset?.prices ||
              asset?.prices?.length === 0) ) {
              <tr style="margin-top: 10rem; margin-bottom: 10rem">
                <td
                  style="padding-top: 10rem; padding-bottom: 10rem"
                  colspan="4"
                  class="text-center"
                >
                  No prices available
                </td>
              </tr>
              } @else { @for (priceInfo of asset?.prices; track
              priceInfo.update) {
              <tr>
                <td>{{ priceInfo.marketName }}</td>
                <td>{{ priceInfo.currencyCode }}</td>
                <td>{{ priceInfo.bid | number : "1.2-5" }}</td>
                <td>{{ priceInfo.ask | number : "1.2-5" }}</td>
                <td>
                  {{ priceInfo.update * 1000 | date : "short" }}
                </td>
                <td>
                  <div class="d-flex justify-content-end">
                    <button
                      cButton
                      color="primary"
                      size="sm"
                      (click)="togglePriceSetModal(priceInfo)"
                    >
                      Set Price
                    </button>
                  </div>
                </td>
              </tr>
              } }
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Price History -->
  <c-row class="mt-4 justify-content-center">
    <c-col md="8">
      <c-card class="mb-4">
        <c-card-header class="d-flex align-items-center flex-wrap gap-2">
          <span>Price History</span>
        </c-card-header>
        <c-card-body>
          @if (isLoadingPriceHistory) {
          <div
            class="d-flex justify-content-center align-items-center"
            style="height: 18.75rem"
          >
            <c-spinner />
          </div>
          } @else {
          <c-chart
            [type]="priceHistory.length === 1 ? 'bar' : 'line'"
            [data]="chartBarData"
            [options]="options"
            [height]="300"
          />
          }
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Subscribers table -->
  <c-row class="mt-4 justify-content-center">
    <c-col md="8">
      <c-card>
        <c-card-header>
          <strong>Subscribers</strong>
        </c-card-header>
        <c-card-body>
          <table cTable [hover]="true" [responsive]="true" [striped]="true">
            <thead>
              <tr>
                <th class="bg-body-tertiary">#</th>
                <th class="bg-body-tertiary">Subscriber</th>
                <th class="bg-body-tertiary">Balance</th>
              </tr>
            </thead>
            <tbody>
              @if (isSubscribersLoading) { @for (placeholder of [0, 1, 2, 3, 4];
              track placeholder) {
              <tr>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
                <td>
                  <p cPlaceholderAnimation="glow" style="margin: 0">
                    <span
                      cCol="12"
                      cPlaceholder
                      style="border-radius: 1rem; width: 100%"
                    ></span>
                  </p>
                </td>
              </tr>
              } } @else if (!isSubscribersLoading && subscribers.length === 0 )
              {
              <tr style="margin-top: 10rem; margin-bottom: 10rem">
                <td
                  style="padding-top: 10rem; padding-bottom: 10rem"
                  colspan="4"
                  class="text-center"
                >
                  No subscribers available
                </td>
              </tr>
              } @else { @for (subscriber of subscribers; track
              subscriber.subscriber; let index = $index) {
              <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ subscriber.subscriber }}</td>
                <td>{{ subscriber.balance | number : "1.0" }}</td>
              </tr>
              } }
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>

<!-- Price setter modal -->
<app-price-set-modal
  [visible]="isPriceSetModalOpen"
  [formData]="priceSetFormData"
  (close)="closePriceSetModal()"
  (revalidate)="refetchAssetDetails()"
/>

<!-- Asset state setter modal -->
<app-set-asset-state-modal
  [visible]="isAssetStateModalOpen"
  [assetState]="assetState"
  (close)="closeAssetStateModal()"
  (revalidate)="refetchAssetDetails()"
/>
