<c-row class="mb-4">
  <c-col>
    <h3 style="margin: 0">Assets</h3>
  </c-col>
  <c-col class="d-flex justify-content-end">
    <button cButton color="primary" routerLink="/assets/create" class="ml-auto">
      Create Asset
    </button>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="mb-0">Asset List</h5>
      </c-card-header>

      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          class="mb-0 border"
          cTable
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary">Name</th>
              <th class="bg-body-tertiary">Symbol</th>
              <th class="bg-body-tertiary">Type</th>
              <th class="bg-body-tertiary">
                <span>Asking Price</span>
                @if (assets.length > 0) {
                <span> ({{ assets[0].markets?.[0]?.currencyCode }}) </span>
                }
              </th>
              <th class="bg-body-tertiary">
                <span>Bidding Price</span>
                @if (assets.length > 0) {
                <span> ({{ assets[0].markets?.[0]?.currencyCode }}) </span>
                }
              </th>
              <th class="bg-body-tertiary">State</th>
              <th class="bg-body-tertiary"></th>
            </tr>
          </thead>
          <tbody>
            @if (isAssetsLoading) { @for (placeholder of [0, 1, 2, 3, 4]; track
            placeholder) {
            <tr>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
            </tr>
            } } @else if (!isAssetsLoading && assets.length === 0 ) {
            <tr>
              <td
                style="padding-top: 10rem; padding-bottom: 10rem"
                colspan="4"
                class="text-center"
              >
                No assets available
              </td>
            </tr>
            } @else { @for (asset of assets; track asset.assetId; let i =
            $index) {
            <tr
              [routerLink]="['/assets', asset.assetId]"
              style="cursor: pointer"
            >
              <td>{{ asset.name }}</td>
              <td>{{ asset.symbol }}</td>
              <td>{{ asset.assetTypeName }}</td>
              <td>
                {{ (asset.markets?.[0]?.ask ?? 0) | number : '1.2-5' }}
              </td>
              <td>
                {{ (asset.markets?.[0]?.bid ?? 0) | number : '1.2-5' }}
              </td>
              <td>{{ asset.stateName }}</td>
              <td>
                <svg cIcon name="cilChevronRight" style="width: 1rem"></svg>
              </td>
            </tr>
            } }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
