<c-row>
  <c-col lg="12">
    <c-card class="mb-4">
      <c-card-header class="d-flex align-items-center flex-wrap gap-2">
        <span>Price History</span>
        <c-card-header-actions style="margin-left: auto">
          <select cSelect [(ngModel)]="selectedAssetId">
            @if (isLoading) {
            <option value="" disabled selected>Loading...</option>
            } @for (asset of assets; track asset.assetId) {
            <option value="{{ asset.assetId }}">{{ asset.name }}</option>
            }
          </select>
        </c-card-header-actions>
      </c-card-header>
      <c-card-body>
        @if (isLoadingPriceHistory) {
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 18.75rem"
        >
          <c-spinner />
        </div>
        } @else {
        <c-chart
          [type]="priceHistory.length === 1 ? 'bar' : 'line'"
          [data]="chartBarData"
          [options]="options"
          [height]="300"
        />
        }
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header> Asset State Distribution </c-card-header>
      <c-card-body>
        @if (isLoading) {
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 16.75rem"
        >
          <c-spinner />
        </div>

        } @else {
        <c-chart
          type="doughnut"
          [data]="chartDoughnutData"
          [options]="options"
        />
        }
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header> Asset Type Breakdown </c-card-header>
      <c-card-body>
        @if (isLoading) {
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 16.75rem"
        >
          <c-spinner />
        </div>
        } @else {
        <c-chart type="pie" [data]="chartPieData" [options]="options" />
        }
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
