<c-row class="mb-4">
    <c-col>
        <h3>Assets List</h3>
    </c-col>
    <c-col class="d-flex justify-content-end">
        <button cButton color="primary" routerLink="/assets/create" class="ml-auto">Create Asset</button>
    </c-col>
</c-row>
<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead class="text-nowrap text-truncate">
                        <tr>
                            <th class="bg-body-tertiary">Name</th>
                            <th class="bg-body-tertiary">Symbol</th>
                            <th class="bg-body-tertiary">Type</th>
                            <th class="bg-body-tertiary">Circulating</th>
                            <th class="bg-body-tertiary">State</th>
                            <th class="bg-body-tertiary"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (isAssetsLoading) {
                        @for (placeholder of [0, 1, 2, 3, 4]; track placeholder) {
                        <tr>
                            <td>
                                <p cPlaceholderAnimation="glow" style="margin: 0;">
                                    <span cCol="12" cPlaceholder style=" border-radius: 1rem;"></span>
                                </p>
                            </td>
                            <td>
                                <p cPlaceholderAnimation="glow" style="margin: 0;">
                                    <span cCol="12" cPlaceholder style=" border-radius: 1rem;"></span>
                                </p>
                            </td>
                            <td>
                                <p cPlaceholderAnimation="glow" style="margin: 0;">
                                    <span cCol="12" cPlaceholder style=" border-radius: 1rem;"></span>
                                </p>
                            </td>
                            <td>
                                <p cPlaceholderAnimation="glow" style="margin: 0;">
                                    <span cCol="12" cPlaceholder style=" border-radius: 1rem;"></span>
                                </p>
                            </td>
                            <td>
                                <p cPlaceholderAnimation="glow" style="margin: 0;">
                                    <span cCol="12" cPlaceholder style=" border-radius: 1rem;"></span>
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        }
                        } @else {
                        @for (asset of assets; track asset.assetId; let i = $index) {
                        <tr [routerLink]="['/assets', asset.assetId]" style="cursor: pointer;">
                            <td>{{ asset.name }}</td>
                            <td>{{ asset.symbol }}</td>
                            <td>{{ getAssetTypeLabel(asset.assetType) }}</td>
                            <td>{{ getAssetStateLabel(asset.state) }}</td>
                            <td>{{ getPricingModelLabel(asset.pricingModel) }}</td>
                            <td>
                                <svg cIcon name="cilChevronRight" style="width: 1rem;"></svg>
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>