<c-row class="mb-4">
  <c-col>
    <h3 style="margin: 0">Transactions</h3>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <h5 class="mb-0">Transaction List</h5>
      </c-card-header>

      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary">Time</th>
              <th class="bg-body-tertiary">Asset Symbol</th>
              <th class="bg-body-tertiary">Transfer Type</th>
              <th class="bg-body-tertiary">Address</th>
              <th class="bg-body-tertiary">Tokens</th>
              <th class="bg-body-tertiary">
                Price @if (transactions.length > 0) { ({{
                  transactions[0].paymentDetails.currencyCode
                }}) }
              </th>
              <th class="bg-body-tertiary">
                Value @if (transactions.length > 0) { ({{
                  transactions[0].paymentDetails.currencyCode
                }}) }
              </th>
              <th class="bg-body-tertiary"></th>
            </tr>
          </thead>
          <tbody>
            @if (isLoading) { @for (placeholder of [0, 1, 2, 3, 4]; track
            placeholder) {
            <tr>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
              <td>
                <p cPlaceholderAnimation="glow" style="margin: 0">
                  <span
                    cCol="12"
                    cPlaceholder
                    style="border-radius: 1rem; width: 100%"
                  ></span>
                </p>
              </td>
            </tr>
            } } @else if (!isLoading && transactions.length === 0 ) {
            <tr>
              <td
                style="padding-top: 10rem; padding-bottom: 10rem"
                colspan="4"
                class="text-center"
              >
                No transactions available
              </td>
            </tr>
            } @else { @for (transaction of transactions; track
            transaction.transferId; let i = $index) {
            <tr
              [routerLink]="[
                '/transactions',
                transaction.contractAddress,
                transaction.transferId
              ]"
              style="cursor: pointer"
            >
              <td>{{ transaction.time * 1000 | date : "short" }}</td>
              <td>{{ transaction.assetSymbol }}</td>
              <td
                [class]="{
                    'text-primary': transaction.transferType === 'Buy',
                  }"
              >
                {{ transaction.transferType }}
              </td>
              <td>
                <code>
                  {{
                    transaction.contractAddress === transaction.from
                      ? transaction.to
                      : transaction.from
                  }}
                </code>
              </td>
              <td>{{ transaction.tokens }}</td>
              <td>
                {{ transaction.tokenPrice | number : "1.2-5" }}
              </td>
              <td>
                {{ transaction.paymentDetails.credit | number : "1.2-5" }}
              </td>
              <td>
                <svg cIcon name="cilChevronRight"></svg>
              </td>
            </tr>
            } }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
